// Colors
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$fontBold: 700;
$fontSemi: 600;
$fontMid: 500;
$fontReg: 400;
$transition: all 300ms ease-in-out;
$shaddowDefault: 0 0 30px 5px rgba(0, 0, 0, 0.05);

// colors
$primaryColor: #ff7214;
$darkBlueColor: #152b45;
$primaryTextColor: #323541;
$secondaryTextColor: #888888;
$headeingColor: #112e41;

// font-size
$small: 85%;
